$largura: 38rem;

// Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

mat-error {
  font-size: 12px;
}

mat-divider {
  margin-bottom: 1.25rem;
}

.form-base-component {
  width: $largura;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .form-base {
    width: $largura;
    display: block;
    justify-content: center;
    margin-top: 1.25rem;
  }

  .form-container {
    width: $largura;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    justify-self: center;
    overflow-x: hidden;

    mat-card-header {
      margin-bottom: 24px;
      justify-content: space-between;
      padding: 0 0 0 0;

      mat-card-title {
        font-size: 32px;
        font-weight: 400;
      }
    }

    .linha-com-botao-editar {
      width: $largura;
      display: flex;
      justify-self: center;

      h2 {
        display: flex;
        gap: 25px;
        width: $largura;
      }

      a {
        width: 7rem;
      }
    }

    mat-card-content {
      width: $largura;
      display: flex;
      flex-direction: column;
      justify-self: center;

      .linha-formulario {
        display: flex;
        gap: 25px;
        width: $largura;
        margin-bottom: 0.5rem;
      }

      mat-form-field,
      .radio-group-wrapper {
        flex: 1;
      }

      .radio-group-wrapper {
        margin-top: -1.1rem;
        mat-radio-group {
          display: flex;
          gap: 16px;
          justify-content: space-around;

          .radio-button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              font-size: 14px;
            }
          }
        }
      }
    }

    mat-card-actions {
      display: flex;
      flex-direction: column;
      align-items: normal;

      button {
        margin: 0 8px;
        margin-bottom: 16px;
      }
    }

    a {
      cursor: pointer;

      &:active {
        color: #551a8b;
      }
    }
  }
}
